:root {
  --black: #030712;

  /* violet tailwind */
  --background: oklch(97.015% 0.00011 271.152);
  --primary: oklch(38% 0.189 293.745);
  --secondary: oklch(28.3% 0.141 291.089);
  --text: oklch(96.9% 0.016 293.756);
  --text-second: #a855f7;
}

/* basic reset */

a {
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  text-decoration: none;
}
/* reset end */
body {
  background-color: var(--background);
}

.header {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  gap: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  max-width: 50px;
}

.header h1 {
  color: var(--primary);
  font-size: 0.8rem;
}

.header p {
  color: var(--secondary);
  font-size: 0.55rem;
  text-transform: capitalize;
  font-weight: 600;
}

.container {
  gap: 5px;
  margin: 1rem auto;
  max-width: 1200px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: 10px;
  grid-auto-flow: row dense;
}

.headline {
  grid-column: span 2;
  grid-row: span 10;
  background-image: url(img/1.jpg);
  background-position: 25% 15%;
  background-size: cover;
}

.article {
  padding: 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  -webkit-transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  -moz-transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  -ms-transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  -o-transition:
    transform 0.1s ease-in-out,
    box-shadow 0.1s ease-in-out;
  background-position: 25% 15%;
  background-size: cover;
}

.article:hover {
  box-shadow: 0 2px 5px rgba(15, 23, 42, 0.5);
  transform: translateY(-0.25rem);
  -webkit-transform: translateY(-0.25rem);
  -moz-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  -o-transform: translateY(-0.25rem);
}

.article::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
}

.article:hover::before {
  background-color: rgba(0, 0, 0, 0);
}

.article * {
  z-index: 2;
}

.category {
  width: auto;
  font-size: 0.55rem;
  font-weight: 600;
  color: var(--primary);
  background-color: var(--text);
  padding: 0.05rem 1rem;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  -webkit-transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  -moz-transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  -ms-transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  -o-transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.article-title {
  line-height: 1.2;
  font-size: 1rem;
  color: var(--text);
  transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -webkit-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -moz-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -ms-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -o-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
}

.article-desc {
  color: var(--text);
  font-size: 0.5rem;
  transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -webkit-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -moz-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -ms-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
  -o-transition:
    color 0.5s ease-in-out,
    text-shadow 0.35s ease-in-out;
}

.article:hover .article-title,
.article:hover .article-desc {
  text-shadow:
    -0.75px -0.75px 0 var(--black),
    0.75px -0.75px 0 var(--black),
    -0.75px 0.75px 0 var(--black),
    0.75px 0.75px 0 var(--black);
}

.article:hover .category {
  background-color: var(--primary);
  color: var(--text);
}

.first {
  background-image: url(img/2.jpg);
  grid-row: span 15;
}

.second {
  background-image: url(img/3.jpg);
  grid-row: span 12;
}

.third {
  background-image: url(img/4.jpg);
  grid-row: span 15;
}

.forth {
  background-image: url(img/5.jpg);
  grid-row: span 13;
}

.fifth {
  background-image: url(img/6.jpg);
  grid-row: span 14;
}

.sixth {
  background-image: url(img/7.jpg);
  grid-row: span 12;
}

.seventh {
  background-image: url(img/8.jpg);
  grid-row: span 15;
}

.eight {
  background-image: url(img/9.jpg);
  grid-row: span 15;
}

hr {
  border: none;
  width: 80%;
  height: 2px;
  background-color: rgba(15, 23, 42, 0.5);
  margin: 1rem auto;
}

.trending-container {
  margin: 0 auto;
  width: 80%;
  /* background-color: violet; */
}

.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.trending-header h1 {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--primary);
}

.trending-header a {
  font-size: 0.75rem;
  color: var(--text);
  background-color: var(--primary);
  padding: 0.1rem 1rem;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.tr {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.trending-img {
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 5px rgba(15, 23, 42, 0.5);
}

.trending-header__card {
  padding: 0.5rem;
  color: var(--black);
}

.trending-header__card h1 {
  font-size: 0.85rem;
  font-weight: 600;
}

.trending-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin: 0.25rem 0;
}

.date {
  font-size: 0.65rem;
  color: rgba(15, 23, 42, 0.5);
  font-weight: 500;
}

.author {
  gap: 5px;
  width: auto;
  display: flex;
  align-items: center;
}

.author img {
  width: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.author p {
  font-size: 0.65rem;
  font-weight: 600;
}

.trending-tag {
  margin: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--text);
}

.trending-tag a {
  cursor: pointer;
  padding: 0.1rem 1rem;
  background-color: var(--primary);
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}

.trending-tag p {
  color: rgba(15, 23, 42, 0.5);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--black);
  padding: 2.5rem 1rem;
}

.footer-header h1 {
  font-size: 1.5rem;
  color: var(--text);
}

.footer-header p {
  margin: 1rem 0;
  color: var(--text);
  opacity: 0.5;
  font-size: 0.75rem;
}

.footer-header .medsos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-header .medsos a {
  transition:
    color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  opacity: 0.75;
  color: var(--text);
  -webkit-transition:
    color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  -moz-transition:
    color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  -ms-transition:
    color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  -o-transition:
    color 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
}

.footer-header .medsos a:hover {
  color: var(--text-second);
  opacity: 1;
}

.navbar {
  max-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: var(--secondary);
  color: var(--text);
  line-height: 1;
  border-radius: 10px;
  z-index: 998;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.profile {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.user-img {
  object-fit: cover;
  display: block;
  height: auto;
  width: 100%;
}

.user-img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.navbar button {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.navbar button:hover {
  filter: brightness(1);
  -webkit-filter: brightness(1);
}

.navbar button.active,
button.profile {
  filter: brightness(1);
  font-variation-settings: "FILL" 1;
  -webkit-filter: brightness(1);
}
